.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.row{
  margin: 0px auto;
  text-align: center
}
h1{
  text-align: center
}
button{
  padding: 5px;
  margin: 0px;
}
span{
  margin: 0px;
  padding: 0px;
}
.required{
color: red;
font-size: 18px;
}
.requiredText{
  font-size: 14px;
}
p{
  margin: 0px;
}
.card{
  background-color: #002B49;
  color: white;
}
img{
  border: 1px solid lightblue;

}